*{
    margin: 0;
    padding: 0px 0;
    font-family: "Gill Sans", sans-serif;
} 

.nav-container{
    display: flex;
    padding: 20px 40px;
    color: #dfac13;
    background-color: rgb(233, 215, 215);
    justify-content: space-between;

}
.nav-ul{
    display: flex;
    list-style: none;
    
}
.nav-li{
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    padding: 5px 30px;

}
.nav-container h2{
    margin-left: 130px;
    font-size: 60px;
    font-weight: 800;
    font-style:italic;
}
.nav-title{
    color: #757775;
}


.head-container{
    height: 580px;
    width: 100;
    background-image: url("./images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.head-container{
    text-align: right;
    padding-top: 300px;
    padding-right: 30px;
}
.head-title{
    font-size: 60px;
    font-weight: 800;
}
.head-description{
    font-size: 25px;
    font-weight: 500;
    color: #757775;
    padding-right: 5px;
}
.btn{
    background-color:rgb(224, 67, 10);
    border: 0;
    color:white;
    padding: 20px 35px;
    margin: 25px 9px;
    border-radius: 5px;
    font-size: 25px;
} 






.main1{
    display: flex;
}
.main1-description{
    padding-top: 250px;
    padding-left: 180px;

}
.main1-heading{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}
.main1-p{
    color: #757775;
    font-size:20px;
    margin:24px 0px 12px 0px;
   
}
.items{
    color: #757575;
}
.img1-part{
    padding-left: 180px;
}







.main2-heading{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 100px;
}
.main2-plans-container{
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    padding-top: 70px;
    text-align: center;
}
.main2-plans-container h2{
    font-weight: 800;
}

.main2-plans-container p{
    color: #757575;
    font-weight: 600;
}





.main3 h1 {
    font-weight: 700;
    font-size: 40px;
    color:white;
}
.main3{
    width: 1040px;
    height:180px;
    margin: 180px 200px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url("./images/gradient1.png"), url("./images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px 0px 64px;
    border-radius: 8px;
}
.main3-btn{
    font-weight: bold;
    font-size: 18px;
    padding: 14px 18px;
    border-radius: 5px;
    border: none;
    color: #F15B22;
    margin: 10px 0px;
}




.footer-container{
    display: flex;
    justify-content: space-between;
    height: 400px;
    background-color: black;
}
.first-area h1, p{
    color:white;
    padding-bottom: 20px;

}
.first-area{
padding-left: 150px;
padding-top: 80px;
font-weight: 400;
}
.first-area-img{
    padding-right: 10px;
}



.second-area{
    color: white;
    padding-top: 80px;
    padding-right: 300px;
    
}
.second-area input{
    background-color: black;
    border-radius: 8px;
    height: 30px;
    width: 200px;
    padding: 13px 20px 8px 8px;
    border-color: aliceblue;
    margin: 20px 10px 0px 0px;
}
.second-btn{
    height: 50px;
    width: 160px;
    margin: 10px 0px;
    border-radius:8px;
    color: orangered;
    font-weight: 600;
} 
.second-area h1{
    font-size: 25px;
}